main{
  width: 100%;
  height: 100vh;
  background-color: #6e0202;
}
img{
  width: 70%;
  height: auto;
}
button{
  width: 20%;
  height: auto;
  float: left;
  margin-left: 50% ;
  margin-top: 20%;
}
